.DS_Store
frontend/micro-ui-internals/node_modules/*
.idea
index.lock
*.properties
core-services/egov-mdms-service/src/main/resources/application.properties
core-services/egov-user/src/main/resources/application.properties
*.properties
core-services/zuul/src/main/resources/routes.properties
core-services/zuul/src/main/resources/routes.properties

######ADDED FOR STAGE ISSUE SHOULD BE REMOVED IN PROD##########################
/build/
*.xml
core-services/user-otp/src/main/java/org/egov/web/config/RedisConfig.java


###################################################