.employee-card-input {
    margin-bottom: 18px !important;
    padding-left: 8px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    display: block;
    width: 100%;
    height: 2.2rem !important;
    --border-opacity: 1;
    border: 1px solid #464646;
    border-color: rgba(70, 70, 70, var(--border-opacity));
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    line-height: 2.5rem;
    font-size: 16px;
    line-height: 20px;
    --text-opacity: 1;
    color: #0b0c0c;
    color: rgba(11, 12, 12, var(--text-opacity));
  }