.flex-fit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    width: 100%;
    --border-opacity:1;
    border-color: #d6d5d4;
    border-bottom: 1px;
    border-color: rgba(214, 213, 212, var(--border-opacity));
    border-style: solid;
    padding: 8px 10px; 
}
.card-count{

    div{
        @apply text-link;
        span{
            @apply text-link font-bold;
        }
    }
}