.FileFlowWrapper{
    background-color: #fff;
    margin-bottom: 1.25rem;
    border: 1px solid #edf2f9;
    border-radius: .25rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1.5rem;
    border-radius: 1.6rem;
    margin: 10px !important;
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}
.file{
    padding: 10px 20px;
    background-color: #FF543D;
    border: 1px solid #FF543D;
    color: #fff;
    min-width: 200px;
    border-radius: .8rem !important;
}
.contentMenu{
    display:flex;
    min-height: 58px;
    align-items: center !important;
    text-align: center;
    justify-content: center;
}
.contentImg{
    margin-right: 15px !important;
    font-size: 30px !important;
}
.contentText{
    min-width: 100px;
    h6{
        color:#fff;
        margin-bottom: 0 !important;
    }
    span{
        font-size: 13px !important;
        color:#fff;
    }
    
}
.fileText {
    padding: 10px;
    margin: 10px;
}
@media (min-width: 768px){
    .FileFlowWrapper{
        flex: 0 0 100%;
        max-width: 100%;
        }
}
@media (min-width: 1200px){
    .FileFlowWrapper{
        max-width: 1140px; 
    }
}
@media (min-width: 992px){
    .cardWrapper{
        display: flex;
        flex-direction: row !important; 
    }
}