.estAssignAssets {
  margin-top: 0;

  :global(header.h1) {
    margin-left: 0;
    margin-top: 0;
  }

  :global(.upload-file) {
    margin-bottom: 10px;
  }

  :global(.action-bar-wrap) {
    button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
