.card-input {
  @apply mb-lg pl-sm outline-none mt-sm block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.employee-card-input {
  margin-bottom: 24px;
  padding: 0.55rem 1rem;
  height: auto;
  color: #495057;
  border: 1px solid #c9cccf;
  font-size: .875rem;
  line-height: 1.5;
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c9cccf;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.employee-card-input--front {
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: #eeeeee;
  border-right: 0;
  padding-right: 5px;
}
.employee-card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-textarea,
.employee-card-textarea {
  @apply block outline-none mt-md mb-lg border w-full border-input-border border-solid bg-white h-24 text-form-field text-text-primary p-sm;
}

.inputWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;

  div {
    max-width: 80px;
  }

  span {
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@screen dt {
  .card-input {
    width: 480px;
  }

  .card-input-emp {
    width: 240px;
  }

  .card-input-error {
    width: 480px;
  }

  .employee-card-input {
  margin-bottom:24px;
    padding: 0.55rem 1rem;
    height: auto;
    color: #495057;
    border: 1px solid #c9cccf;
    font-size: .875rem;
    line-height: 1.5;
  }

  .employee-card-input-error {
    @apply w-full;
  }

  .card-textarea {
    width: 480px;
    border-radius:4px;
    border-color: none!important;
    border: 1px solid #c9cccf!important;
  }

  .employee-card-textarea {
    @apply w-full;
    border-radius:4px;
    border-color: none!important;
    border: 1px solid #c9cccf!important;
  }

  .card-input-emp {
    width: 240px;
  }
}

.citizen-card-input {
  @apply mb-lg pl-sm outline-none block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
}

.citizen-card-input--front {
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: #eeeeee;
  border-right: 0;
  padding-right: 5px;
}
