<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="true">

	<context:component-scan base-package="org.egov.commons, org.egov.common, org.egov.lib" />

	<!-- <bean id="authRuleService" parent="abstractPersistenceService" autowire-candidate="true">
        <constructor-arg name="type" value="org.egov.lib.rrbac.model.AuthorizationRule"/>
	</bean>

	<bean id="RuleInterceptorFilter" class="org.egov.lib.rrbac.filter.RuleInterceptorFilter">
		<property name="daoService" ref="persistenceService" />
		<property name="authRuleService" ref="authRuleService" />
	</bean>

	<bean id="bankAccountDao" class="org.egov.commons.dao.BankaccountDAO"/>

	<bean id="financialYearDAO" class="org.egov.commons.dao.FinancialYearHibernateDAO"/>

	<bean id="bankBranchDao" class="org.egov.commons.dao.BankbranchDAO"/>

	<bean id="bankDao" class="org.egov.commons.dao.BankDAO"/> -->

</beans>
