.navbar {
  width: calc(100vw - 240px);
  height: 84px;
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;
  margin-left: 1px;
  transition: width 0.3s ease-in-out;
  .center-container.back-wrapper{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    gap: 25px;
  }
  .hamburger-span{
    margin-top: 3px;
    svg{
      width: 32px;
      height: 32px;
      margin-left: 20px;
      path{
        fill: #000
      }
    } 
  }
  .location-button{
    margin-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(220, 211, 234, 1);
    border-radius: 10px;

    img{
      margin-left: 10px;
      height: 14px;
    }
    span{
      margin-left: 15px;
      margin-right: 15px;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .searchbar-wrapper{
    min-width: 43%;
    .search-box{
      display: flex;
      align-items: center;
      height: 40px;
      width: auto;
      border: 1.5px solid rgba(220, 211, 234, 1);  
      border-radius: 8px;
    }
    .search-box img{
      width: 16px;
      margin: 0px 5px;
      cursor: pointer;
    }
    .search-box input{
      flex: 1;    
      padding: 8px 12px;
      outline: none;
      font-size: 14px;
    }
  }
  .nav-lang-change{
    min-width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgba(220, 211, 234, 1);
    border-radius: 8px;
    font-size: 14px;
  }
  .userDropdown{
    display: flex;
    align-items: center;
    max-width: 210px;
    min-width: 140px;
    margin: 0px 10px;
    img{
      height: 40px;
      width: 40px;
      margin:  0px 5px;
      border-radius: 50%;
    }
    svg{
      fill: #000;
    }
  }
  .EventNotificationWrapper{
    display: flex;
    align-items: center;
    
    p{
      font-size: 10px;
      color: #fff;
      font-weight: 700;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper {
    display: flex;
    @media (min-width: 780px) {
      .hamburger-span {
        display: none;
      }
    }
  }

  h3 {
    @apply inline-block border-l border-solid border-white pl-sm ml-sm;
  }
}

.navbar-expanded {
  width: calc(100vw - 80px);
}

.img-circle {
  border-radius: 50%;
}

.profile-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  background-color: #ffffff;

  img {
    width: 80px;
    height: 80px;
    margin: 0px auto 16px;
  }

  .label-container {
    .label-text {
      color: #767676;
    }
    &.name-Profile {
      .label-text {
        letter-spacing: 0.6px;
        font-weight: 700;
        font-size: 16px;
        color: #0b0c0c;
      }
    }
    &.loc-Profile {
      .label-text {
        font-size: 13px;
        font-weight: 400px;
        color: #5f5c62;
      }
    }
  }
  .profile-divider {
    width: 90%;
    margin-top: 1rem;
  }
}

.drawer-list {
  @apply pt-md;
  position: relative;
  min-height: 1px;
  overflow: auto;
  .menu-item {
    border: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 13px;
    position: relative;
    color: rgb(95, 92, 98);
    line-height: 48px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    min-height: 48px;
    white-space: initial;
    background: none;
    .icon {
      display: block;
      color: rgb(117, 117, 117);
      fill: rgb(117, 117, 117);
      height: 21px;
      width: 21px;
      float: left;
      margin-top: 12px;
    }
    .edit-btn-ico{
      height: 17px;
      width: 17px;
      margin-top: 16px;
    }
    .icon + .menu-label {
      margin-left: 36px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .sidebar-list {
    padding-right: 16px;
    padding-left: 16px;
    &.active {
      background: #F0E9F7;
      .menu-label {
        color: #a82227;
      }
      .icon {
        fill: #a82227;
      }
    }

    .submenu-container {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .sidebar-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
          width: 21px;
          height: 21px;
          color: rgb(117, 117, 117);
          fill: rgb(117, 117, 117);
        }
      }
      .actions {
        display: flex;
        align-items: center;
        overflow: hidden !important;

        span {
          margin-left: 13px;
          line-height: 48px;
          white-space: nowrap;
          color: #5f5c62;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        input {
          border: none;
          outline: none;
          margin-left: 16px;
          padding: 0.5em;
          color: #5f5c62;
        }
      }
    }
  }

  .dropdown-link {
    .actions {
      display: flex;
      padding: 1em;
      svg {
        width: 21px;
        height: 21px;
        color: rgb(117, 117, 117);
        fill: rgb(117, 117, 117);
      }
      span {
        color: #5f5c62;
      }
    }
  }
}

.drawer-desktop {
  .menu-item {
    border: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 13px;
    position: relative;
    color: rgb(95, 92, 98);
    line-height: 48px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    min-height: 48px;
    white-space: initial;
    background: none;
    .icon {
      display: block;
      color: rgb(117, 117, 117);
      fill: rgb(117, 117, 117);
      height: 21px !important;
      width: 21px !important;
      float: left;
      margin-top: 12px;
    }
    .edit-btn-ico {
      height: 17px;
      width: 17px;
      margin-top: 16px;
    }
    .icon + .menu-label {
      margin-left: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  @media (min-width: 780px) {
    .sidebar-list {
      height: 42px;
      padding-right: 16px;
      padding-left: 16px;
      width: 90%;
      margin: auto;
      &.active {
        background: #F0E9F7;
        border-radius: 5px;
        border-left: 3px solid #584F74;
        .menu-label {
          color: #584F74;
        }
        .icon {
          fill: #584F74;
        }
      }

      .submenu-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        .sidebar-link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            width: 21px;
            height: 21px;
            color: rgb(117, 117, 117);
            fill: rgb(117, 117, 117);
          }
          .actions {
            .tooltip {
              margin-left: 16px;
            }
          }
        }
        .actions {
          display: flex;
          align-items: center;
          overflow: hidden !important;

          span {
            margin-left: 13px;
            line-height: 48px;
            white-space: nowrap;
            color: #5f5c62;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .dropdown-link {
      .actions {
        display: flex;
        padding: 1em;
        svg {
          width: 21px;
          height: 21px;
          color: rgb(117, 117, 117);
          fill: rgb(117, 117, 117);
        }
        span {
          color: #5f5c62;
        }
      }
    }
  }
}

/* .navbar-header{
    @apply text-navbarheader float-left px-sm
}

.navbar-subheader{
    @apply font-light px-sm border-solid border-l border-white border-opacity-100
}*/

.side-bar-footer {
  width: 200px;
  margin-left: 50px;
  margin-top: 24px;
  margin-bottom: 16px;
  position: relative;
}

.digit-footer {
  @apply flex h-4 mb-sm;
  img {
    @apply mr-sm;
  }
}
