.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: #757575;

  .menu-item {
    display: flex;
    cursor: pointer;
    min-height: 48px;
    margin: 0;
    padding: 0;
    .menu-item-icon {
      svg {
        color: #757575;
        fill: #757575;
        width: 21px;
        height: 21px;
      }
    }
    .menu-item-text {
      margin-left: 1em;
    }
  }
}

.static-citizen-sidebar-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 99;

  @media (max-width: 780px) {
    height: calc(100vh - 10px);
  }
}

.employee-sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.sidebar-helpline-telephone {
  margin-top: -10%;
}

.img-Profile {
  object-fit: cover !important;
  object-position: center !important;
}

.drawer-desktop {
  background-color: white !important;
}

.sidebar-pointer-item {
  cursor: pointer !important;
}
