### STS ###
.apt_generated
.settings
.checkstyle
.classpath
.factorypath
/.pmd
.project
/.sonarlint

### maven ###
target/
reports/
docker_data/

### docker build files ###
compose*.yml
Dockerfile.local
local.env

