### STS ###
.apt_generated
.settings
.checkstyle
.classpath
.factorypath
/.pmd
.project
/.sonarlint
/.ucdetector_reports

### maven ###
target/
reports/
docker_data/

### local only files ###
spy.log
SearchQueries.sql
smsgwsmsgovin-sep22.cer