.dynamicObjectRenderer {
  font-family: sans-serif;
  padding: 1.5rem;
  color: #111;

  &__section {
    margin-bottom: 1.5rem;

    &-title {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #888;
      margin-bottom: 0.75rem;
    }
  }

  &__array-label {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 0.4rem;
  }

  &__card {
    margin-bottom: 8px;
    border-bottom-width: 1px;
    border-color: #d6d5d4;
    border-color: rgba(214, 213, 212, 1 );
    padding-bottom: 8px;
  }

  &__field-row {
    margin-bottom: 8px;
    display: flex;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: #d6d5d4;
    border-color: rgba(214, 213, 212, var(--tw-border-opacity, 1));
    padding-bottom: 8px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__field-label {
    width: 40%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

  }

  &__field-value {
    width: 50%;
    font-size: 18px;
    line-height: 24px;
    word-break: break-all;
  }
}
