.citizen-home-footer {
  @apply flex  w-full  h-10 bg-grey-bg pb-md pt-sm justify-center;
  img {
    @apply ml-sm;
  }
}

.employee .citizen-home-footer {
  @apply fixed bottom-0;
}
.fill-path-primary-main {
  path {
    fill: #208f74;
  }
}

.obps-search {
  margin: 8px;
}
