@media only screen and (min-width: 768px) {
  .notifications-screen-style {
    padding: 12px 8px 60px 8px !important;
  }
}
.rainmaker-displayInline.pmidclogo {
  justify-content: right;
  width: 61px;
  position: absolute;
  left: 340px;
  top: 10px;
}