name: Node.js Publish UI Packages

on:
  push:
    branches: [ 'UM-6756' ]
    paths:
      - 'frontend/micro-ui/web/micro-ui-internals/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.20.0
          registry-url: https://registry.npmjs.org
      - run: cd frontend/micro-ui/web/micro-ui-internals/ && bash ./publish-beta.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
